<!DOCTYPE html>
<html>
    <head>
        <title>A2Q5</title>
    </head>
    <body>
        <form id="f1" method="POST" action="/form">
            <label for="str">Enter the username</label>
            <input type="text" id="userName" name="str">
            <input type="submit" value="Submit">
        </form>
    </body>
</html>